@model ManagementSystem.Models.Yard

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Yard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YardName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YardName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YardAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YardAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YardTotalCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YardTotalCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YardCurrentQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YardCurrentQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YardCurrentColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YardCurrentColor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.YardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
