@model IEnumerable<ManagementSystem.Models.Yard>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="pageYards">
    <div>Search</div>
    <div class="containerComponentsYard">
        @foreach (var item in Model)
        {
            <div class="componentYardContainer">
                <div class="componentYardVehicles">
                    <span>@Html.DisplayFor(modelItem => item.YardCurrentQuantity)</span>
                    <p>Vehicles</p>
                </div>
                <div class="componentYardInfo">
                    <p>
                        <span>@Html.DisplayNameFor(model => model.YardName)</span>
                        @Html.DisplayFor(modelItem => item.YardName)
                    </p>
                    <p>
                        <span>@Html.DisplayNameFor(model => model.YardAddress)</span>
                        @Html.DisplayFor(modelItem => item.YardAddress)
                    </p>
                    <p>
                        <span>@Html.DisplayNameFor(model => model.YardCurrentColor)</span>
                        @Html.DisplayFor(modelItem => item.YardCurrentColor)
                    </p>
                </div>
            </div>
        }
    </div>
</div>


<!--<table class="tableTeste">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YardAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YardTotalCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YardCurrentQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YardCurrentColor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       </tr>
        }
    </tbody>
</table>
 -->
